#mineButton{
    height:80px;
    width:200px;
}

body{
    background-image: url('./mine.jpg');
}

#inventoryThingy{
    font-size: 16px;
    font-family: 'Comic Sans MS';
    color:white;
}
#log{
    height:600px;
    width:300px;
    background-color: rgb(48, 48, 48);
}