#mineButton{
    height:80px;
    width:400px;
    background-color: rgb(110, 110, 110);
    font-size: 20px;
}

body{
    background-image: url('./mine.jpg');
}

#inventoryThingy{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#inventoryHead{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#log{
    position: relative;
    height:780px;
    width:400px;
    background-color: rgb(48, 48, 48);
    border:1px solid black;
    padding: 2px 4px;
}
#refresh{
    position:absolute;
    bottom:4px;
    right:4px;
}