#mineButton{
    height:80px;
    width:200px;
}

body{
    background-image: url('./mine.jpg');
}

#inventoryThingy{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#inventoryHead{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#log{
    position: relative;
    height:780px;
    width:400px;
    background-color: rgb(48, 48, 48);
    border:1px solid black;
}
#refresh{
    position:absolute;
    bottom:4px;
    right:4px;
}