#mineButton{
    height:80px;
    width:400px;
    background-color: rgb(110, 110, 110);
    font-size: 20px;
    padding: 2px 4px;
    border-radius: 10px;
}

body {
  background: #ffffff url("/mine.png") no-repeat fixed center center / cover;
}

#inventoryThingy{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-left:5px;
}
#inventoryHead{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
}
#log{
    position: relative;
    height:780px;
    width:400px;
    background-color: rgb(48, 48, 48);
    border:2px solid white;
    padding: 2px 4px;
    border-radius: 10px;
}
#refresh{
    position:absolute;
    bottom:4px;
    right:4px;
}
#container{
    display:flex;
    gap: 20px;
}
.craft-header {
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
    background-color: rgb(48,48,48);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.craft-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    margin-left: 5px;
    margin-right: 5px;
}

.craft-container.show {
    max-height: 1000px; /* large enough for content */
    
}

.craft-container button {
    display: block;
    margin: 3px 0;
}
#craftingButtons{
    background-color: rgb(110, 110, 110);
    border-radius: 5px;
}
.craftingButton {
    background-color: rgba(67,67,67, 0);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius:5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.craftingButton:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius:5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}